.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fafafa;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 450px;
  max-width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 콘텐츠를 위에서 아래로 정렬 */
  height: 225px;
}

.modalTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #282828;
  margin-top: 35px; /* 타이틀을 조금 아래로 내림 */
}

.modalMessage {
  font-size: 14px;
  color: #282828;
  margin-top: 0px; /* 메시지를 타이틀 아래로 조정 */
  margin-bottom: 40px;
}

.modalButton {
  margin-top: auto; /* 버튼을 모달 창의 하단으로 이동 */
  background-color: #282828;
  color: #fafafa;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  align-self: center;
  width: 95%;
  transition: background-color 0.3s ease;
}

.modalButton:hover {
  background-color: #8d8d8d;
}
