.createGroupPage {
  min-width: 700px;
  max-width: 900px;
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #282828;
  margin: 40px 0; /* 로고와 타이틀 간의 간격*/
  text-align: center;
  width: 100%;
  margin-left: -25px;
}

.formGroup {
  margin-top: 0px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;
}

.formGroup label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #282828;
  font-weight: 500;
}

.formGroup input[type="text"],
.formGroup input[type="file"],
.formGroup input[type="password"],
.formGroup textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  box-sizing: border-box;
}

.formGroup textarea {
  resize: none;
  height: 100px;
}

.formGroup input[type="checkbox"] {
  margin-right: 10px;
}

.formGroup input[type="file"] {
  padding: 8px;
}

.toggleLabelWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.formGroup .toggleLabel {
  font-size: 14px;
  margin-right: 10px;
  font-weight: normal;
}

.formGroup .toggleButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitButton {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #fafafa;
  background-color: #282828;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 20px;
  margin-bottom: 30px;
}

.submitButton:hover {
  background-color: #8d8d8d;
}
